<div class="w-100 h-auto p-4 hover:bg-accent-light dark:hover:bg-accent-dark hover:bg-opacity-10 dark:hover:bg-opacity-10 hover:shadow-1 card-container rounded-lg">
   <a [href]="experience.url" target="_blank">
    <div class="flex flex-col md:flex-row">
        <div class="flex my-2 period-text uppercase text-secondary-light dark:text-secondary-dark opacity-60 font-semibold text-xs leading-7">
            {{ experience.periodStart }} - {{ experience.periodEnd }}
        </div>
        <div class="flex flex-col md:px-4 bg-inherit">
            <div class="card-title my-2 text-secondary-light dark:text-secondary-dark text-xl font-semibold">
                {{ experience.company }} &#x2022; {{ experience.position }}
                <span class="material-symbols-outlined arrow-icon text-secondary-light dark:text-secondary-dark">
                    arrow_outward
                </span>
            </div>

            <div class="text-secondary-light dark:text-secondary-dark opacity-60 font-regular dark:font-light">
                <p class="mb-2" *ngFor="let description of experience.description">
                    <span>&#x2022;</span> <span class="ml-2" [innerHTML]="description"></span>
                </p>
            </div>

            <div class="flex flex-row gap-2 my-3 flex-wrap">
                <div *ngFor="let skill of experience.skills" class="rounded-full text-xs font-medium text-accent-light dark:text-accent-dark uppercase bg-primary-light dark:bg-primary-dark bg-opacity-10 dark:bg-opacity-20 px-3 py-1">
                    {{ skill }}
                </div>
            </div>
        </div>
    </div>
   </a>
</div>
