<section class="pt-8 md:pt-16 lg:pt-24 mx-5 lg:mx-0">
    <div #header class="flex menu-item lg:hidden py-4">
        <hr class="line mr-3 my-auto">
        <span class="leading-normal">ABOUT</span>
    </div>

    <div class="leading-normal font-regular dark:font-light text-text-light dark:text-text-dark">
        <p>
            <span class="opacity-60">I’m a </span>passionate <span class="opacity-60">and </span><span>detail-oriented</span><span class="opacity-60"> Frontend Developer with a keen eye for </span>design <span class="opacity-60">and a deep understanding of </span>modern web technologies<span class="opacity-60">. I specialize in creating responsive, user-friendly, and visually appealing websites that deliver seamless experiences across all devices.</span>
        </p>
        <br>
        <p>
            <span class="opacity-60">My interest in design drives me to stay updated on the latest design trends and best practices, allowing me to bridge the gap between </span><span>development</span><span class="opacity-60"> and </span><span>design.</span>
        </p>
        <br>
        <p class="opacity-60">In my free time, I am usually reading, hiking, traveling and one of my favorite hobbies painting.</p>
    </div>
</section>